<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOME</h1>
    <a href="#" id="write">글 쓰기</a>
    <a href="#" id="list">글 목록</a>
    <a href="#" id="detail">글 상세</a>
    <a href="#" id="update">글 수정</a>
</body>
<script>
    document.getElementById('write').addEventListener('click', e=>{
        location.href="move/articles/write"
    })
    document.getElementById('list').addEventListener('click', e=>{
        location.href="move/articles/list"
    })
    document.getElementById('detail').addEventListener('click', e=>{
        location.href="move/articles/detail"
    })
    document.getElementById('update').addEventListener('click', e=>{
        location.href="move/articles/update"
    })
</script>
</html>