<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        table {border:1px solid black}
        table tr{border:1px solid black}
        table tr td{border:1px solid black}
        table tr th{border:1px solid black}
    </style>
</head>
<body>
    <h1>DETAIL</h1>
    <a href="#" id="home">Go Home</a>
    <a href="#" id="update">수정화면 이동</a>
    <table class="table">
        <thead>
            <tr class="table-active">
                <th style="width: 10%">글번호 : <span id="artNum"></span></th>
                <th style="width: 30%">글쓴이ID : <span id="writerId"></span></th>
                <th style="width: 30%">작성일 : <span id="regDate"></span></th>
                <th style="width: 30%">조회수 : <span id="count"></span></th>              
            </tr>
        </thead>
        <tbody>
            <tr><td colspan="4" style="width: 100%; height:30px"><span id="title"></span></td></tr>
            <tr><td colspan="4" style="width: 100%">
                <div id="content" style="height: 300px">              
                </div>
            </td></tr>
            <tr id="toggle"><td></td></tr>   
        </tbody>
    </table>
    <script>
       $('#home').click(e => {location.href="/"})       
       $.getJSON(`/articles/${localStorage.getItem('artNum')}`, d =>{
            $('#artNum').text(d.artNum)
            $('#writerId').text(d.writerId)
            $('#title').text(d.title)
            $('#regDate').text(d.regDate)
            $('#count').text(d.count)
            $('#content').text(d.content)
            $('#toggle').html('<button id="update-btn">수정화면 이동</button><button id="delete-btn">삭제</button>')
            $('#update-btn').click(e=>{
                $('#title').html('<input id="update-title" type="text" value="'+d.title+'">')
                $('#content').html('<textarea id="update-content" style="height: 250px">'+d.content+'</textarea>')
                $('#update').text('수정 화면')
                $('#toggle').html('<button id="confirm">수정확인</button>')
                $('#confirm').click(e=>{
                    e.preventDefault()
                    $.ajax({
                        url: '/articles',
                        type: 'PUT',
                        data: JSON.stringify({
                            artNum: d.artNum,
                            writerId: d.writerId,
                            title: $('#update-title').val(),
                            content: $('#update-content').val(),
                            regDate: d.regDate,
                            count: d.count
                        }),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: d=>{
                            if(d.message === "SUCCESS"){
                                location.href = '/move/articles/detail'
                            }else{
                                alert('수정 실패')
                            }
                        },
                        error: e=>{alert(`수정 실패: ${e}`)}
                    })
                })
            })
            $('#delete-btn').click(e=>{
                e.preventDefault()
                $.ajax({
                    url: '/articles',
                    type: 'DELETE',
                    data: JSON.stringify({
                        artNum: d.artNum
                    }),
                    dataType:'json',
                    contentType: 'application/json',
                    success: d=>{
                        if(d.message==='SUCCESS'){
                            location.href='/move/articles/list'
                        }else{
                            alert('실패')
                        }
                    },
                    error: e=>{alert(`삭제 실패: ${e}`)}
                })
            })
       })      
    </script>
</body>
</html>