<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        table {border:1px solid black}
        table tr{border:1px solid black}
        table tr td{border:1px solid black}
        table tr th{border:1px solid black}
    </style>
</head>
<body>
    <h1>DETAIL</h1>
    <a href="#" id="home">Go Home</a>
    <table class="table">
        <thead>
            <tr class="table-active">
                <th scope="col" style="width: 10%">글번호 : <span id="artNum">1</span></th>
                <th scope="col" style="width: 30%">글쓴이ID : <span id="writeId">hong</span></th>
                <th scope="col" style="width: 30%">작성일 : <span id="title">2020-12-07</span></th>
                <th scope="col" style="width: 30%">조회수 : <span id="count">100</span></th>
                
            </tr>
        </thead>
        <tbody>
            <tr><td colspan="4" style="width: 100%"><span id="title">테스트</span></td></tr>
            <tr><td colspan="4" style="width: 100%">
                <textarea id="content">
                    게시글 테스트
                </textarea>
            </td></tr>   
        </tbody>
    </table>
    <script>
       $('#home').click(e => { location.href="/"})
       alert(`조회한 게시글번호: ${localStorage.getItem('artNum')}`)
    </script>
</body>

</html>