<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>WRITE</h1>
    <a href="#" id="home">Go Home</a>
    <form>
        <input id="writeId" type="text" name="bdTitle" class="form-control mt-4 mb-2"
            placeholder="ID를 입력해주세요." required
        ><br/>
        <input id="title" type="text" name="bdTitle" class="form-control mt-4 mb-2"
            placeholder="제목을 입력해주세요." required
        >
        <div class="form-group">
            <textarea id="content" class="form-control" rows="10" name="bdContent"
                placeholder="내용을 입력해주세요" required
            ></textarea>
        </div>
        <button id="write-btn" class="btn btn-secondary mb-3">제출하기</button>
    </form>
</body>
<script>
    document.getElementById('home').addEventListener('click', e=>{
        location.href="/"
    })
    document.getElementById('write-btn').addEventListener('click', e=>{
        $.ajax({
            url: '/articles',
            type: 'POST',
            data: JSON.stringify({
                writerId: document.getElementById('writeId').value,
                title: document.getElementById('title').value,
                content: document.getElementById('content').value
            }),
            dataType: 'json',
            contentType: 'application/json',
            success: d=>{},
            error: e=>{
                alert(`글쓰기 에러 ${e}`)
            }
        })
    })
</script>
</html>